.side-chat-display{
    width: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    background-color: white;
    color: gray;
    box-sizing: border-box;
    box-sizing: content-box;

}
.people-side-icon{

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.people-side-chat{
    
    flex: 1;
    height: 100%;
}