.side-chat-display{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
}
.people-side-icon{
    background-color: red;
    height: 100%;
}
.people-side-chat{
    background-color: blue;
    flex: 1;
    height: 100%;
}